
.team .card{
    height: 450px;
    border: none;
}
.team .card .info-text h4{
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.team .card .info-text span{
    color: var(--color);
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0px;
}
.team .card .social{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.team .card .social i{
    transition: .5s;
    padding: 10px;
    font-size: 25px;
    background-color: var(--color);
    margin-right: 10px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
.team .card .social i:hover{
    transform: rotate(360deg);
}